body{
    background-color: aliceblue;
}

img{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin: 15%;
    border-radius: 50%;
}

#wolfBlowing{
    width: 300px;;
    height: auto;
}

.flexingWolf{
    display: flex;
    justify-content: center;
}